pandas
pandas_profiling
geopandas
folium
mapclassify
branca          # Using Geopandas Explore
geopy           # GeoCoding 
shapely         # Manipulating Geometric Object
plotly          # Animation 
osmnx           # Spatial Data Network Analysis
descartes       # Used for Plotting Shapely Objects on Matplotlib
contextily      # Support Spatial Data Visualization
geoplot         # Support Spatial Data Visualization with Matplotlib
imageio
scikit-learn
matplotlib
tqdm
jupyter
jupyterlab