tensorflow
pandas
pandas_profiling
matplotlib
bayesian-optimization
# scikit-learn -> bayesian-optimization
xlrd        # excel
statsmodels
imageio
tqdm
jupyter
jupyterlab

# conda install -c conda-forge lightgbm
lightgbm
# conda install -c conda-forge xgboost
xgboost

geopandas
folium
mapclassify
branca          # Using Geopandas Explore
geopy           # GeoCoding 
shapely         # Manipulating Geometric Object
plotly          # Animation 
osmnx           # Spatial Data Network Analysis
descartes       # Used for Plotting Shapely Objects on Matplotlib
contextily      # Support Spatial Data Visualization
geoplot         # Support Spatial Data Visualization with Matplotlib
colorcet        # Support Color Selection and Mapping in Data Visualization
datashader      # BigData Visualization
holoviews       # Support Simplified and Interactive Visualization
jupyter_bokeh   # Support Interactive Visualization with `holoviews`
imageio

openpyxl

pyproj          # GIS

torch
transformers
shap