tensorflow
pandas
pandas_profiling
matplotlib
bayesian-optimization
# scikit-learn -> bayesian-optimization
xlrd        # excel
statsmodels
imageio
tqdm
jupyter
jupyterlab

# conda install -c conda-forge lightgbm
lightgbm
# conda install -c conda-forge xgboost
xgboost